<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB57Hptns3Cw-IsCaRxTVMPzpzyyZ3bZ6s</string>
	<key>GCM_SENDER_ID</key>
	<string>805088373520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>health-app-fd812</string>
	<key>STORAGE_BUCKET</key>
	<string>health-app-fd812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805088373520:ios:644db40970e8402a27d395</string>
</dict>
</plist>